/*******************************************************************************
CSS styling for Species page
*******************************************************************************/
.noGutter {
	margin-left: 0;
	margin-right: 0;
}

.noPadding {
   padding-left: 0;
   padding-right: 0;
   overflow: hidden;
}

.search {
  background-color: #333333;
  .typeAhead {
    input {
      background-color: #FFFFFF !important;
    }
    ul {
      width: 375px;
    }
    margin-right: auto;
    margin-left: auto;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 375px;
  }
}
