/*******************************************************************************
CSS Styling for Landing page
*******************************************************************************/
.taglineContainer {
	margin-top: 20px;
  text-align: center;
}

.text {
  font-size: 46px;
}

.marketingContainer {
	margin-top: 50px;
  text-align: center;
}

.jumboIcon {
	font-size: 10em;
  color: #666666;
}

.partnerContainer {
	margin-top: 20px;
  text-align: center;
	background-color: #dddddd;
	width: 100%;
}

.logoDiv {
  margin-top: 20px;
  margin-bottom: 20px;
	display: inline-block;
  vertical-align: middle;
	float: none;
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.vuLogo {
  max-width: 80%;
}

.naturalisLogo {
  max-width: 60%;
}

.rijksmuseumLogo {
  max-width: 90%;
}
