/*******************************************************************************
CSS styling for BlogPost component
*******************************************************************************/
.date {
  margin-left: 3px;
}

.link {
  margin-left: 10px;
  .text {
    margin-left: 3px;
  }
}

.content {
  font-size: 1.2em;
}
