.noGutter {
	margin-left: 0;
	margin-right: 0;
}

.noPadding {
   padding-left: 0;
   padding-right: 0;
   overflow: hidden;
}

.color1 {
  background-color: #222222;
}

.color2 {
  background-color: #444444;
}

.color3 {
  background-color: #666666;
}

.color4 {
  background-color: #888888;
}
