.app {
  .navbar {
    background-color: rgba(30, 30, 30, 0.85);
  }
  .navbarStub {
    background-color: #000000;
    height: 51px;
    width: 100%;
    display: block;
  }
  .brand {
    height: 33px;
  	padding-bottom: 5px;
  }
  .footer {
  	padding-top: 10px;
    text-align: center;
  }
}
