.app {
  .navbar {
    background-color: rgba(30, 30, 30, 0.85);
  }
  .navbarStub {
    background-color: #000000;
    height: 51px;
    width: 100%;
    display: block;
  }
  .brand {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 110px;
    margin: 5px 5px 0 0;
  }
}
