.app {
  .navbar {
    background-color: rgba(30, 30, 30, 0.85);
  }
  .navbarStub {
    background-color: #000000;
    height: 51px;
    width: 100%;
    display: block;
  }
  .brandLink {
    position: absolute;
    display: block;
    top: -5px;
  }
  .brand {
    position: relative;
    width: 110px;
    pointer-events: none;
  }
}
