.banner {
	position: relative;

  .text {
  	position: absolute;
  	color: #ffffff;
  	bottom: 15px;
  	left: 25px;
  	display: block;
  }

  .title {
  	font-size: 15px; /* legacy support */
  	font-size: 4vw;
  	margin-top: 5px;
  	color: #ffffff;
  }

  .copyright {
  	position: absolute;
  	bottom: 0.5em;
  	right: 1em;
  	font-size: 0.8em; /* legacy support */
  	font-size: 1vw;
  	color: #666666;
  	display: block;
  }

  @media all and (max-width: 992px) and (min-width: 600px) {
  	.text { bottom: 10px; }
  	.copyright {visibility: hidden; }
  }

  @media all and (max-width: 599px) and (min-width: 320px) {
  	.text { bottom: 5px; }
  	.title {	font-size: 8vw; }
  	.copyright {visibility: hidden; }
  }
}
